@tailwind base;
@tailwind components;
@tailwind utilities;

/* OVERALL FONT */
* {
  font-family: "Poppins", sans-serif;
}

/* RIPPLE EFFECT */
.hover-ripple {
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 0;
}

.hover-ripple::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.35);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: width 0.6s ease-out, height 0.6s ease-out, opacity 0.6s ease-out;
}

.hover-ripple:hover::before {
  width: 180%;
  height: 180%;
  opacity: 1;
}

/* Pop-in animation */
@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(-6px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/* Pop-out animation */
@keyframes popOut {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-6px) scale(0.95);
  }
}

.animate-popup {
  animation: popIn 0.5s ease-out forwards;
}

.animate-popOut {
  animation: popOut 0.5s ease-in forwards;
}
